body {
    background-color: black;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Send behind other elements */
  overflow: hidden;
}
#app {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.marker {
  position: absolute;
  width: 80px;
  left: 360px;
  top: -20px;
  z-index: 999;
}

.wheel {
  width: 100%;
  height: 100%;
}

.wheel2 {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px auto;
}


.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}
.message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgba(0, 0, 0, 0.612);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Micro 5', sans-serif;
  font-weight: 400;
  font-size: 85px;
  color: white;
  z-index: 1000;
  display: none;
}
.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
}
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.button {
  font-family: 'Micro 5', sans-serif;
  width: 250px;
  height: 80px;
  cursor: pointer;
  position: relative;
  z-index: 999;
  background: #ffffff;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000000;
  font-weight: 300;
  font-size: 72px;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 8px;
  padding: 0 15px;
  z-index: 999;
}

.button:hover {
  color: rgb(227, 211, 228);
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 1.2s steps(22) forwards;
}